
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {

    color: #007BFF;
    text-align: center;
    padding: 20px 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    display: inline-block;
    margin: 0 20px;
}

a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    display: inline-block;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 8px;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55), color 0.4s ease, background-color 0.4s ease;
}

a:hover {
    transform: translateY(-5px);
    color: #ffffff;
    background-color: #007BFF;
    border-color: #007BFF;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.3);
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55), color 0.4s ease, background-color 0.4s ease, box-shadow 0.4s ease;
}
#logo-container {
    width: 140px;
    height: 150px;
    /*background-image: url('/images/logo.png');*/
    background-size: cover;
        position: fixed;
        top: 0;
        left: 0;
}

.container {
      position: relative;
      width: 80vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    img {
      width: 500px;
      height: 400px;
      position: absolute;
      top: 35%;
      left: 20%;
      transform: translate(-50%, -50%);
    }