<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Average Ratings</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link rel="stylesheet"  type="text/css" th:href="@{/averageRatings.css}">
</head>
<body>

<h2>Moyenne des critère</h2>

<table border="1">
    <thead>
    <tr>
        <th>Criteria ID</th>
        <th>Name</th>
        <th>Average Rating</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entry : ${averageRatings}">
        <td th:text="${entry.key.id}"></td>
        <td th:text="${entry.key.name}"></td>
        <td>
            <th:block th:if="${entry.value != null}">
                <span th:text="${#numbers.formatDecimal(entry.value, 1, 2)}"></span>
            </th:block>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>

