<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Criteria List</title>
    <link rel="stylesheet"  type="text/css" th:href="@{/criteriaList.css}">
</head>
<body>

<h2>Criteria List</h2>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <!-- Ajoutez d'autres colonnes au besoin -->
    </tr>
    </thead>
    <tbody>
    <tr th:each="criteria : ${criteriaList}">
        <td th:text="${criteria.id}"></td>
        <td th:text="${criteria.name}"></td>
        <td th:text="${criteria.description}"></td>
        <!-- Ajoutez d'autres colonnes au besoin -->
    </tr>
    </tbody>
</table>

</body>
</html>
