
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Evaluate</title>
    <link rel="stylesheet" type="text/css" th:href="@{/evaluate.css}">
    <link rel="stylesheet"  type="text/css" th:href="@{/style.css}">
</head>
<body>

<h2>Evaluate</h2>

<!-- Formulaire d'évaluation -->
<form action="/evaluate" method="post">
    <!-- Utilisez une liste déroulante pour sélectionner le critère -->
    <label for="criteriaId">Criteria:</label>
    <select id="criteriaId" name="criteriaId" required>
        <option th:each="criteria : ${criteriaList}" th:value="${criteria.id}" th:text="${criteria.name}"></option>
    </select><br>

    <label for="rating">Noté:</label>
    <input type="number" id="rating" name="rating" required><br>

    <label for="comments">Commentaire:</label>
    <textarea id="comments" name="comments"></textarea><br>

    <button type="submit">Soumettre l'évaluation</button>
</form>

</body>
</html>
