<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet"  type="text/css" th:href="@{/home.css}">
<link rel="stylesheet"  type="text/css" th:href="@{/style.css}">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
<h1>Welcome to EvalsolusOne!</h1>
<ul>
    <li><a th:href="@{/criteriaList}">View Criteria</a></li>
    <li><a th:href="@{/evaluate}">Evaluate</a></li>
    <li><a th:href="@{/evaluationHistory}">View Evaluation History</a></li>
    <li><a th:href="@{/addCriteria}"> add Criteria</a></li>

</ul>
</body>
</html>

